.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}




.mainDiv {
  position: absolute;
  display: flex;
  align-items: center;
}

.imgContainer { 
  position: absolute;
  
   
  
}

.roommates {
  position: absolute;
  top: 15px; 
  left: 115px;
  
  
}

.chores {
 position: absolute;
 top: 130.5px;
 left: 224px;
 
} 

.body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
}

#test {
  font-size: 19px !important;
  margin-left: 20px !important;
  

}